<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content padding class="signup">
  <img src="assets/images/output-onlinepngtools.jpg" class="Img" #myImage/>
  <ion-label primary class="boldIt">
    Goyal Land Survey & Consultants
  </ion-label><hr>
  <ion-label primary position="stacked">
    <!-- Engineering land survey -->
  </ion-label>
  <ion-row>
    <ion-col class="tagContainer">
      <ion-label>
        <span class="tag">
          <ion-label class="whiteSpaceNormal boldIt" primary stacked
            style="border-bottom: 1px solid var(--theme-color-light);">
            Pro. Rohit Agrawal
          </ion-label><hr>
          <pre class="whiteSpaceNormal">
            Contact : +91 9407090800
          </pre>
          <pre class="whiteSpaceNormal">
            Mail Us : goyallandsurvey@gmail.com
          </pre>
          <pre class="whiteSpaceNormal">
            Address : Near Resham Udyog Devdara, Mandla, Madhya Pradesh, 481661
          </pre>
        </span>
      </ion-label>
    </ion-col>
  </ion-row>
</ion-content>