<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Services
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
      <ion-card class="serviceCard">
      <h1>What is a Land Survey and Types of Land Survey?</h1>

      Land surveyor

      Survey or land survey is the technique, profession, and science of measure the shape of the land and gather data for civil engineering and construction projects. Land surveying profession is called a land survey.   A surveyor is a professional person with the academic qualifications and technical expertise of land surveying. Surveyors guide construction and development projects & provide information required for the buying and selling of property.

      <h3>Types of Survey:</h3>

      Let’s take a quick look at a sampling of different types of land surveys available.

      <h6>Land surveying:</h6>

      Land surveying contains measuring and determining property boundaries, which are used as the basis for all property dealings including buying, selling, mortgaging and leasing.

      <h6>Engineering Land Survey:</h6>

      Engineering Surveying is the broad term used to describe the work of surveyors on civil engineering work. Engineering land surveying is an important disciplinary field that helps construction projects.

      <h6>Layout Marking/Demarcation:</h6>

      Layout marking or Demarcation enables the property owners to determining the boundaries of the property and separates their property into various plots. The marking demarcation is mandatory to define the real estate developers to define the square feet area as a part of their selling concepts.

      <h6>Contour Survey:</h6>
      In the property world, a contour survey is an outline of a mass of land. A contour survey or detailed survey is done by a land surveyor and required before you can start on the design of your buildings.

      <h6>Boundary Survey:</h6>

      A boundary survey is a procedure carried out to determine property lines and define true property corners of a parcel of land described in a deed. This survey service is also known as a boundary survey service or plat of survey service.

      <h6>Construction Survey:</h6>

      Construction surveying is to stake out reference points & markers that will guide the construction of new structures such as roads or buildings. These markers are commonly staked out according to a suitable coordinate system selected for the project.

      <h6>Location Survey:</h6>
      Location surveying is a type of survey that illustrate any proposed or existing on-site improvements in a particular land area for the purpose of ensuring that all new developments are within the boundaries of the land property and do not block any easements or other regulatory limits. This type of land survey is similar to a boundary survey but with extra information on the location of interior improvements.

      <h6>Site Planning Survey:</h6>

      A Site Planning Survey is a survey that contains a combination of a Boundary survey and a Topographic survey and is used for the preparation of a site plan or other documents which will represent, proposed improvements to a plot of land.

      <h6>Subdivision Survey:</h6>

      Subdivision Survey is the dividing a piece of land into two or more lots, plats, sites, or other divisions of land for the purpose, whether immediate or future, of sale or of building development.

      <h6>Topographic Survey:</h6>

      A Topographic Survey is a survey that gather data about the elevation of points on a portion of land and presents them as contour lines on a plot.

      <h6>Estimating Earthwork Volumes:</h6>

      Estimating earthwork volumes is important information when planning a project. Estimation of earth moving work is very important information for estimating soil filling or cutting after & before earth moving work has been executed.

      <h6><b>Goyal Land Survey & Consultants is a professionally managed team of land surveyor in Mandla.
        We have range of services: </b></h6>
        <b>✓ <i (click)="openPage('landsurvey')">Engineering land survey</i> 
          ✓ <i (click)="openPage('plot')">Layout plot demarcation</i>
          ✓ <i (click)="openPage('contour')">Contour survey</i>
          ✓ <i (click)="openPage('earth')">Estimation & volume of excavation and filling of earth moving work</i>.
        </b>
    </ion-card>
</ion-content>
